{% extends (craft.app.request.isAjax) ? "layouts/ajax-layout" : "layouts/layout" %}

{% set errorMessage = '<p class="font-primary text-medium text-center">' ~ ('Error 404: This page does not exist.'|t) ~ '</p>' %}
{% set errorEntry = craft.globalSets().handle('errorPages').one() %}

{% if errorEntry.error404 %}
	{% set errorMessage = errorEntry.error404 %}
{% endif %}

{% block content %}
	{{ errorMessage|raw }}
{% endblock %}
