/conf
/logs
.DS_Store
/workfiles
node_modules
_node_modules
app/client/.env
app/client/internals/ssl/*
app/craft/web/transforms/*
app/craft/web/imager/*
app/craft/web/assets/*
app/craft/web/assets/*
app/sql/*
app/public/local-phpinfo.php

app/craft/composer.phar
.cache
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config
